@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Surf with Andrew</h1>
    <p>"You can't stop the waves, but you can learn to surf"</p>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <img src="~/img/CaliSurfer.jpg" class="img-fluid mb-4" alt="California Surfing">
        </div>
        <div class="col-md-6">
            <img src="~/img/wakesurfingmt.jpg" class="img-fluid mb-4" alt="Montana Wakesurfing">
        </div>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="mt-4">
            <h2 class="text-center">The Art of Surfing</h2>
            <p>
                Surfing has always been a passion of mine. Growing up in Montana I surfed wherever possible.
                Lakes and rivers were what held me over until I could return the beaches of San Diego to enjoy
                the tides. If you ever see me doing anything you can be certain that I would rather be Surfing.
            </p>
            <p>
                Surfing is a a strenuous sport that requires a lot of heart, skill, and determination. All that
                being said, anybody can surf if they put their mind to it. There is nothing more rewarding than
                catching a wave and enjoying the ride. When you learn to surf with Andrew you are learning to
                surf for life! So what are you waiting for? Let's go catch some waves ow ow!
            </p>
        </div>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="text-center">
            <label>Want to get a private lesson?</label>
            <a href="@Url.Action("Tutor", "Home")" class="btn btn-primary">Get a Quote</a>
        </div>
    </div>
</div>

<br />
<br />
<br />
<br />

<div>
    <footer id="footer" class="footer">
        <div class="container">
            Copyright; The Andrew Gardanier Foundation (Since 2001) agardanier22@gmail.com
        </div>
    </footer>
</div>
